page-home {
    .roundel{
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50%;
        display: flex !important;
    }
    .roundelText{
        color:white;
        margin: auto;
        width: 100%;
        font-weight: 500;
        //-webkit-text-stroke-width: 1px;
        //-webkit-text-stroke-color: white;
    }
    .kit{
        max-width: 75px;
        max-height: 150px;
    }
}
