<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Match Day!</h2>
  <button ion-button block round (click)="generateMatch()">Generate and begin Match!</button>
  <div *ngIf="match.teams.length  >1">
    <b [style.color]="match.teams[0].color">{{match.teams[0].name}}</b> vs <b
      [style.color]="match.teams[1].color">{{match.teams[1].name}}</b>
    <h2>Lineup</h2>
    <ion-list *ngFor="let team of match.teams">
      <ion-item no-padding>
        <!--<ion-avatar item-start>
          <div class="roundel" [style.background-color]="team.color">
            <div class="roundelText" [style.color]="team.secondary">{{team.shorthand}}</div>
          </div>
        </ion-avatar>-->
        <svg item-start class="kit" xmlns:dc="http://purl.org/dc/elements/1.1/"
          xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
          xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"
          xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
          xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="210mm" height="297mm"
          viewBox="0 0 210 297" version="1.1" id="svg8" inkscape:version="0.92.2 5c3e80d, 2017-08-06"
          sodipodi:docname="quidditchVest.svg">
          <defs id="defs2" />
          <g inkscape:label="Capa 1" inkscape:groupmode="layer" id="layer1">
            <g id="g908" />
            <g id="g1021" transform="translate(-1.5834286e-6)">
              <path style="fill:#fc0101;stroke-width:0"
                d="m 67.532814,290.2097 c -5.59946,-0.66275 -15.552345,-2.81993 -16.0893,-3.48717 -0.16924,-0.21032 1.700488,-22.4576 5.88926,-70.07451 l 6.137224,-69.76636 -0.496343,-10.65647 C 62.385369,123.5948 61.635009,109.5613 61.115045,101.4648 60.908919,98.255167 60.634882,93.916461 60.506074,91.823226 59.866296,81.426252 58.775878,68.668188 57.91464,61.503028 57.465779,57.768668 56.695075,53.51075 55.182068,46.40636 54.023008,40.963948 52.966219,35.997271 52.833644,35.3693 52.522034,33.893273 52.531939,17.331864 52.845995,14.728482 52.978158,13.632886 53.196629,12.6227 53.331484,12.483623 53.5914,12.215569 86.853375,5.6690709 87.118809,5.833728 c 0.0856,0.053101 0.724158,1.2969616 1.419018,2.7641357 2.662827,5.6224863 6.577456,8.4776133 14.325103,10.4479843 l 2.64286,0.672129 2.58334,-0.664638 c 8.04654,-2.070204 12.16806,-5.23828 14.65481,-11.2646656 0.49982,-1.2112384 0.85779,-1.7479114 1.20247,-1.8027423 0.64331,-0.1023357 33.30063,6.2385629 33.57208,6.5185129 0.42216,0.435377 0.65463,5.185766 0.6409,13.096424 -0.008,4.465569 -0.10354,8.747187 -0.21285,9.514707 -0.10931,0.76752 -1.15568,5.837247 -2.32526,11.266059 -2.93165,13.607853 -3.45092,18.120008 -5.55068,48.232572 -0.66392,9.521174 -2.26767,40.061024 -2.58485,49.222744 -0.13447,3.88408 0.12459,7.05466 5.99139,73.32668 4.59059,51.85573 6.06141,69.33952 5.85135,69.55539 -0.55657,0.5719 -8.65572,2.3818 -14.79595,3.30643 -4.13326,0.62241 -14.7776,0.61937 -19.91843,-0.006 -4.46782,-0.54326 -7.51233,-1.07636 -7.79157,-1.36434 -0.11415,-0.1177 -1.86147,-18.3067 -3.88294,-40.41996 -2.78067,-30.41839 -4.13806,-46.62978 -5.57592,-66.59351 -1.04528,-14.5131 -1.93906,-26.43503 -1.98616,-26.49318 -0.0471,-0.0581 -0.14196,-0.0476 -0.2108,0.0234 -0.0688,0.071 -0.72815,10.6228 -1.46516,23.44846 -0.737,12.82567 -1.46065,24.2899 -1.60812,25.47606 -0.14747,1.18617 -1.96758,20.63727 -4.04469,43.22467 -2.763561,30.05212 -3.865946,41.15617 -4.109767,41.39672 -0.348282,0.34362 -5.925052,1.1898 -10.789171,1.63709 -3.858088,0.35478 -12.033588,0.27862 -15.616998,-0.14554 z"
                id="primary" [style.fill]="getColor(team)" inkscape:connector-curvature="0" />
              <path style="fill:#140101;stroke-width:0"
                d="M 126.94884,85.480088 C 114.97751,73.129999 105.08546,63.025381 104.96652,63.025381 c -0.11894,0 -9.840336,9.933353 -21.603099,22.074119 -11.762763,12.140765 -21.478743,22.07412 -21.591065,22.07412 -0.112324,0 -0.269567,-0.7136 -0.349431,-1.58579 L 61.27772,104.00205 83.100282,81.479522 C 95.102689,69.09213 105.06386,58.987512 105.23622,59.024815 c 0.17236,0.0373 10.16396,10.227766 22.20357,22.645478 l 21.89019,22.577657 v 1.84342 c 0,1.30562 -0.0897,1.84343 -0.30753,1.84343 -0.16915,0 -10.10227,-10.104623 -22.07361,-22.454712 z m 0.53683,-13.574314 C 115.3372,59.346361 105.24273,49.070478 105.05351,49.070478 c -0.18922,0 -10.188206,10.161706 -22.219981,22.58157 -12.031774,12.419864 -21.975377,22.58157 -22.096892,22.58157 -0.121513,0 -0.220936,-0.770927 -0.220936,-1.713172 V 90.807273 L 82.719778,67.909072 C 94.93202,55.315061 105.03624,45.01087 105.1736,45.01087 c 0.17217,0 43.90383,44.889023 45.10062,46.294215 0.17718,0.208022 -0.2756,3.435984 -0.48195,3.435984 -0.12015,0 -10.15812,-10.275883 -22.3066,-22.835295 z m 0.37021,-13.32059 C 115.5016,45.816448 105.24017,35.3693 105.05269,35.3693 c -0.18749,0 -10.352569,10.332972 -22.589073,22.962159 -12.236505,12.629187 -22.336861,22.962158 -22.445234,22.962158 -0.108376,0 -0.241976,-0.713603 -0.296889,-1.585784 L 59.621653,78.122048 82.272248,54.711489 C 94.730075,41.83568 105.06397,31.331444 105.23646,31.368742 c 0.17248,0.0373 10.55157,10.627615 23.06465,23.53404 l 22.75103,23.46623 v 1.314689 c 0,1.417585 -0.17063,2.117367 -0.5163,2.117367 -0.11971,0 -10.32569,-10.447147 -22.67996,-23.215884 z"
                id="secondary" [style.fill]="getSecondary(team)" inkscape:connector-curvature="0" />
            </g>
          </g>
        </svg>
        <h2 [style.color]="team.color">{{team.name}}</h2>
      </ion-item>
      <ion-item *ngFor="let player of team.players">
        <ion-avatar item-start>
          <div class="roundel" [style.background-color]="team.color">
            <div class="roundelText" [style.color]="team.secondary">{{player.number}}</div>
          </div>
        </ion-avatar>
        <h2>{{player.name}}</h2>
        <p>{{positions[player.position]}}</p>
      </ion-item>
    </ion-list>
    <h2>Match transcription</h2>
    <p [innerHTML]="match.log | sanitizeHtml">

    </p>
    <h2>Final Score</h2>
    <b [style.color]="match.teams[0].color">{{match.teams[0].name}} {{match.teams[0].score}}</b> vs <b
      [style.color]="match.teams[1].color">{{match.teams[1].name}} {{match.teams[1].score}}</b>
    <h2>Score list</h2>
    <ion-item *ngFor="let score of match.scoreLog">
      <ion-avatar item-start>
        <div class="roundel" [style.background-color]="score.teamColor">
          <div class="roundelText" [style.color]="score.teamSecondary">{{score.player.number}}</div>
        </div>
      </ion-avatar>
      <h2>{{score.player.name}}</h2>
      <p>{{positions[score.player.position]}}</p>
      <h2 item-end>+{{score.scored}}</h2>
      <p item-end><span [style.color]="match.teams[0].color">{{score.team0Score}}</span> - <span
          [style.color]="match.teams[1].color">{{score.team1Score}}</span></p>
    </ion-item>
  </div>
</ion-content>